$white: #fff;
$white-gray: #f4f5f9;
$black: #000;
$light-black: #202020;
$gray: #cbc6c0;
$gray2: #e6e7eb;
$gray3: #e5e5e5;
$gray4: #999;
$gray5: #6a6a6a;
$red: #e74c3c;

$main-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Source Sans Pro', sans-serif;

$base-font-size: 16px;

$light: 400;
$normal: 500;
$semibold: 600;
$bold: 700;

$screen-xl: 1300px;
$screen-lg: 1024px;
$screen-md: 880px;
$screen-sm: 768px;
$screen-xs: 560px;
