body {
  background-color: $white;
  color: $main-font-color;
  font-family: $main-font-family;
  font-size: $base-size;
  font-weight: $normal;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}
