$white: #fff;
$green: #2cc7c1;
$gray: #f0f0f1;
$gray2: #ececec;
$gray3: #747a84;
$gray4: #525b64;
$gray5: #cdd0d2;
$gray6: #3f464c;
$custom-primary: #7ea4e8;
$custom-dark: #6A707A;

$main-font-family: 'Ubuntu', sans-serif;
$main-font-color: #828282;
$secondary-font-family: 'Montserrat', sans-serif;

$base-size: 16px;

$normal: 400;
$medium: 500;
$bold: 700;
