.categories {
  margin: 40px 0;

  @media (max-width: $screen-lg-max) {
    margin: 25px 0;
  }

  ul {
    @include display-flex(center);

    li {
      margin: 10px 23px;

      @media (max-width: $screen-sm-max) {
        margin: 5px;
      }

      a {
        @include font(19px, $semibold, 1.9px, 20px);
        border-bottom: 1px solid transparent;
        color: $gray2;
        display: inline-block;
        text-decoration: none;

        @media (max-width: $screen-sm-max) {
          font-size: 16px;
        }

        &:hover {
          border-bottom-color: $gray2;
        }
      }
    }
  }
}
