.menu {
  ul {
    @include display-flex;
  }

  a {
    @include font(12px, $normal, 0.96px, 23px);
    border-bottom: 1px solid transparent;
    color: $black;
    margin: 0 2px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      border-bottom-color: $black;
    }
  }
}
