$white: #fff;
$black: #000;
$border-color: #f3ebdc;
$gray: #535353;
$gray2: #2d2b27;
$gray3: #898989;
$gray4: #d7dbd5;
$gray5: #f8f8f8;
$gray6: #575153;
$gray7: #727272;
$blue: #00b7d9;
$yellow: #d9c8aa;

$screen-xl-max: 1300px;
$screen-lg-max: 1024px;
$screen-md-max: 880px;
$screen-sm-max: 768px;
$screen-xs-max: 480px;

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

$font-family: 'Montserrat', sans-serif;
