.evt-header {
  background: url('../img/2.jpg') center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 400px;

  &__wrap {
    max-width: 550px;
  }
}

@include media-breakpoint-down(xs) {
  .evt-header {
    &__logo img {
      width: 80%;
    }
  }
}
